
 <h3>Current Cat: {{ cat_dict[n].name }} </h3>
<br>
<img src="static/{{ cat_dict[n].name }}.jpg" alt="cat" width="400" height="300" />

<br>
 <form method="post" action="/index">

<input type="submit" name="vote" value="yes">
<input type="submit" name="vote" value="no">
</form>
<br>

<table class="centered thick-border">
        <tr>
                <th>Cat</th>
                <th>Views</th>
                <th>Score</th>
                <th>Fails</th>
                <th>Percentage</th>
        </tr>
        {% for k,v in cat_dict.items() %}
                <tr>
                        <td>{{ v.name }}</td>
                        <td>{{ v.views }}</td>
                        <td>{{ v.score }}</td>
                        <td>{{ v.fails }}</td>
                        <td>{{ v.score/v.views if v.views>0 else null }}</td>
                </tr>
        {% endfor %}
</table>



<br>
<!-- {{ pwd }}-->
<img src="static/betaplot.png?{{ rand }}" alt="pdist" width="400" height="300" />

<br>
